<h1>Upload de arquivo</h1>

<form method="post" enctype="multipart/form-data" action="/uploads">
    <input type="file" name="fileJson">
    <input type="submit" value="upload">
    
</form>

<form method="get" action="/uploads/">
<textarea name="csv" cols="30" rows="10"></textarea>
</form>